
<% @users.each do |t| %>
  <tr>
    <td><%= t.name %></td>
  </tr>
<% end %>
</table>

<%= form_tag({controller: "users", action: "search"}, method: "get") do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :email => nil %>
<% end %>

