<h1>Ваши проекты</h1>

<%= link_to "Новый проект", new_project_path(:project => { :hostid => current_user.id}), class: "btn btn-large btn-info" %>
<br /><br />
<% @projects.reverse.each do |pr| %>
  <h2>Название проекта: <%= link_to pr.name, pr %>  </h2> 
  <% if current_user.id==pr.hostid %> 
    <h2>Руководитель: Вы </h2>
    <h3><%= link_to 'Удалить проект', pr, method: :delete, data: { confirm: 'Точно?' } %> </h3>
<% else %>    
    <h2>Руководитель: <%= User.find(pr.hostid).name %></h2>
 <% end %>
  <br />
<% end %>

