<h1>Проекты</h1>

<%= link_to "Новый проект", new_project_path, class: "btn btn-large btn-info" %>
</br></br>
<% @projects.reverse.each do |pr| %>
  <%= User.find(pr.hostid).name %>
  <h2> <%= link_to pr.name, pr %>  </h2>
  </br></br>
<% end %>


