<p id="notice"><%= notice %></p>

<% if current_user.id==@project.hostid %>
  <%= render 'host'%>
<% else %>
  <% if @project.users.include?(current_user) %>
    <%= render 'collaborator'%>
  <% else %>
  Вы, вероятно, заблудились?</br>
  <%= link_to 'Вернуться к своим проектам', projects_path %>
  <% end %>
<% end %>